.container {
  margin: 0 auto;
  width: 320px;
  min-height: 80.6vh;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 768px;
    min-height: 74.9vh;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 1024px;
    min-height: 79.4vh;
  }
}
