.backBtnWrapper {
  margin: 0 auto;
  width: 85%;
  padding: 20px 0;
}

.button {
  width: 60px;
  line-height: 28px;
  cursor: pointer;
  outline: none;
  font-family: droid-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: rgb(85, 98, 112);
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.004);
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
}

.details {
  margin: 0 auto;
  padding-bottom: 22px;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.286;
  color: var(--details-description-color);
}

.imageBlock {
  display: block;
}

.title {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 20px;
  font-family: var(--details-font);
  color: var(--details-title-color);
}

.infoItem {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6%;
}

.infoItem:nth-of-type(odd) {
  background-color: var(--details-blue-block);
}

.infoName {
  width: 46%;
}

.infoValue {
  width: 54%;
}

.description {
  margin-bottom: 40px;
}

.link {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 20px;
  font-family: var(--details-font);
  color: var(--details-title-color);
}

@media screen and (min-width: 768px) {
  .details {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .imageBlock {
    width: 50%;
  }

  .infoBlock {
    width: 47%;
  }
}
