.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationList {
  display: flex;
  justify-content: flex-start;
}

.navigationItem {
  width: 122px;
}

.navLink {
  display: block;
  color: var(--second-color);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  transition: all 0.2s linear;
  margin: 0 auto;
}

.activeLink {
  composes: navLink;
  border-bottom: 2px solid var(--second-color);
}

.logo {
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 0px 30px 0 32px;
  }

  .navLink {
    width: 122px;
  }

  .logo {
    display: flex;
    padding: 24px 0 24px;
  }

  .logoLink {
    display: flex;
    width: 128px;
  }

  .image {
    display: block;
  }

  .span {
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #372c48;
  }
}

@media (max-width: 767px) {
  .span {
    display: none;
  }
}
