.movieListItem {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.movieListItem {
  text-decoration: none;
  color: var(--main-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.movieListItem:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .movieListItem {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }
}

@media screen and (min-width: 1440px) {
  .movieListItem {
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  }
}
