.searchForm {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 20px;
}

.input {
  width: 172px;
  margin: 0 auto;
  outline: none;
  border: 1px solid rgb(0, 0, 0);
}

.searchButton {
  width: 60px;
}

@media screen and (min-width: 768px) {
  .searchForm {
    width: 400px;
    padding-bottom: 20px;
  }

  .input {
    width: 280px;
  }

  .searchButton {
    width: 100px;
  }
}
