.inputWrapper {
  width: 100%;
  padding: 20px 0 10px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  background-color: #f3f6f6;
}

.formWrapper {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.searchForm {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 20px;
}

.input {
  display: block;
  margin: 0 auto;
  outline: none;
  border: none;
  width: 252px;
  background-repeat: no-repeat;
  background-size: 17px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.6px;
  padding-left: 24px;
  background-color: transparent;
  background-image: url(../../images/search-icon.svg);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.input::placeholder {
  color: black;
}

.searchButton {
  width: 70px;
  font-size: var(--mobile-font-size);
  background-color: var(--main-color);
  color: var(--second-color);
  border: 1px solid var(--main-color);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .searchForm {
    width: 400px;
    padding-bottom: 20px;
  }

  .input {
    width: 280px;
    line-height: 22px;
    font-size: var(--laptop-font);
  }

  .input::placeholder {
    font-size: var(--laptop-font);
  }

  .searchButton {
    font-size: var(--laptop-font);
    width: 100px;
  }
}
