.searchForm {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 20px;
}

.input {
  width: 162px;
  padding: 4px 8px;
  line-height: 16px;
  margin: 0 auto;
  font-size: var(--mobile-font);
  outline: none;
  border: 1px solid var(--main-color);
  border-radius: 4px;
}

.input::placeholder {
  font-size: var(--mobile-font-size);
  font-style: italic;
  color: var(--main-color);
}

.searchButton {
  width: 70px;
  font-size: var(--mobile-font-size);
  background-color: var(--main-color);
  color: rgb(255, 255, 255);
  border: 1px solid var(--main-color);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .searchForm {
    width: 400px;
    padding-bottom: 20px;
  }

  .input {
    width: 280px;
    line-height: 22px;
    font-size: var(--laptop-font);
  }

  .input::placeholder {
    font-size: var(--laptop-font);
  }

  .searchButton {
    font-size: var(--laptop-font);
    width: 100px;
  }
}
