* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-color: rgb(118, 192, 186);
  --second-color: rgb(55, 44, 72);
  --mobile-font-size: 14px;
  --mobile-nav-font-size: 14px;
  --mobile-title-font-size: 20px;
  --laptop-font: 16px;
  --laptop-title-font-small-size: 24px;
  --laptop-title-font-large-size: 38px;
  --laptop-description-font: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

h2 {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
